* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ededed;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }
  
  /* Navigation Bar Styles */
  .navigation {
    display: flex;
    width: auto;
    height: 14vh;
    position: relative;
    top: 0;
    background: linear-gradient(90deg, #f7f7f7, #e3e3e3);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 42px;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .logo img {
    width: 6vw;
    margin-left: 10px;
    mix-blend-mode: multiply;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .logo h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #140761;
    font-style: italic;
    font-weight: 700;
  }
  
  .fnc {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .fnc button {
    background: linear-gradient(145deg, #e50914, #c90610);
    width: 8vw;
    height: 6vh;
    border: none;
    border-radius: 50px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #f7f7f7;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .fnc button:hover {
    background: linear-gradient(145deg, #d9080d, #b10509);
    transform: translateY(-3px);
  }
  
  .lists {
    margin-right: 20px;
  }
  
  .lists ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 0;
  }
  
  .lists ul li {
    position: relative;
  }
  
  .lists ul li a {
    cursor: pointer;
    color: #140761;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    position: relative;
    padding: 5px;
  }
  
  .lists ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #140761b4;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .lists ul li a:hover {
    color: #0e0e54;
  }
  
  .lists ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .container{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    margin: 36px 36px;
    color: #0e0e54;
  }